*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
body{
        background: url(1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;

}
header{
    font-family: sans-serif;
   background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2))
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
}
.logo{
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.menu a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 4px solid indianred;
    transition:0.4s linear ;
}
.menu a:hover::before{
    width: 90%;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: indianred;
    border-radius: 5px;
    transition: 0.4s;
}
.register a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.text span{
    letter-spacing: 5px;
}
.text h1{
    font-size: 3.5em;
}
.text a{
    text-decoration: none;
    background: indianred;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius:3px ;
}
.text a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 4px solid indianred;
    transition: 0.5s linear;
}
